<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        新規登録画面
      </h1>
    </div>
  </div>
</section>

<div class= my-form>
<div class="form-container">
      <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true, multipart: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
  <div class="mb-3">
    <%= f.label :nickname, "ニックネーム(10字以内)" %>
    <%= f.text_field :nickname, class: 'form-control', maxlength: 10 %>
  </div>
  <div class="mb-3">
    <%= f.label :email, "Eメール" %>
    <%= f.text_field :email, class: 'form-control' %>
    <div id="emailHelp" class="form-text">同じメールアドレスの登録はできません</div>
  </div>
  <div class="mb-3">
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
<div class="mb-3">
    <%= f.label :password_confirmation, "パスワード(確認)" %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.label :profile, "プロフィール" %>
    <%= f.text_field :profile, class: 'form-control' %>
</div>
<div class="mb-3">
  <%= f.label :profile_image, class: "label" %>
  <%= f.file_field :profile_image, class: "input" %>
</div>

<button type="submit" class="btn custom-button">登録</button>
<% end %>
</div>
</div>