<%= render 'recipes/search_form' %>
<div class="column is-4">
  <div class="card" style="display:flex; flex-direction:row;">
    <div class="card-image">
      <figure class="image is-4by3">
        <div class="title" style="font-size: 30px;">
          <%= link_to recipe.title, recipe_path(recipe) %>
        </div>
        <%= link_to recipe_path(recipe) do %>
          <%= image_tag(recipe.recipe_image.present? ? recipe.recipe_image : 'no-image2.png', style: 'width:300px; margin: 0 auto; display: block;') %>
        <% end %>
      </figure>
    </div>
    <div class="media" style="display: flex; flex-direction: row;">
      <div class="ingredients" style="font-size: 20px;">
      <h2>材料</h2>
        <%= recipe.material %>
      </div>
      <div class="method" style="font-size: 20px;">
      <h2>作り方</h2>
        <%= recipe.make %>
      </div>
      <div id="favorite-btn<%= recipe.id %>">
    <% if user_signed_in? && recipe.favorited_by?(current_user)%>
      <%=link_to "いいね済", recipe_favorites_path(recipe.id),  data: { turbo_method: :delete }, class: "recipe_favorites" %>
    <% else %>
      <%=link_to "いいねする", recipe_favorites_path(recipe.id), data: { turbo_method: :post }, class: "ecipe_favorites" %>
    <% end %>
  </div>
    </div>
  </div>
</div>