<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        レシピ詳細
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <div class="recipes-image-show">
              <%= image_tag (@recipe.recipe_image.attached? ? @recipe.recipe_image : "no-image2.png") %>
              </div>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4"><%= @recipe.title %></p>
              </div>
              <div class="content">
                <table class="table is-narrow">
                  <tr>
                    <th>材料</th>
                  </tr>
                  <tr>
                    <td><%= simple_format @recipe.material %></td>
                  </tr>
                  <th>作り方</th>
                  <tr>
                    <td><%= simple_format @recipe.make %></td>
                  </tr>
                </table>
                <% if user_signed_in? && @recipe.user.id == current_user.id %>
                  <%= link_to "編集画面へ", edit_recipe_path(@recipe), class: "button is-success" %>
                  <%= link_to "削除する", recipe_path(@recipe), { confirm: "Are you sure?", class: "button is-danger", data: { turbo_method: :delete } }  %>
                <% end %>
                <!-- いいねボタンの追加 -->
                <div class="like-section">
                  <% if current_user && @recipe.liked_by?(current_user) %>
                    <button class="like-button" data-recipe-id="<%= @recipe.id %>" data-liked="true">
                      <span class="heart liked">&hearts;</span>  <span class="like-count"><%= @recipe.favorites.count %></span>
                    </button>
                  <% else %>
                    <button class="like-button" data-recipe-id="<%= @recipe.id %>" data-liked="false">
                      <span class="heart">&hearts;</span> <span class="like-count"><%= @recipe.favorites.count %></span>
                    </button>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <article class="panel is-link">
          <p class="panel-heading">
            By <%= @recipe.user.nickname %>
          </p>
          <%= link_to user_path(@recipe.user), class: "panel-block" do %>
            <span class="panel-icon">
              <i class="fas fa-user" aria-hidden="true"></i>
            </span>
            <%= @recipe.user.nickname %> さんのページへ
          <% end %>
        </article>
      </div>
    </div>
  </div>
  <br><br>
  <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@recipe, @comment], local: true) do |form| %>
        <%= form.text_area :comment_text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "投稿" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comments"><br>
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.comment_text %>
        </p>
      <% end %>
    </div>
  </div>
</section>

<script src="<%= asset_path 'script.js' %>"></script>
