<body>

<%# 検索バー %>
<div style="display: flex; justify-content: flex-end;">
  <%= form_with(url: search_recipes_path, method: :get, local: true, role: "search") do %>
    <div style="display: flex;">
      <%= text_field_tag :keyword, params[:keyword], class: "form-control me-2", type: "search", placeholder: "検索", "aria-label": "Search", style: "margin-right: 10px;" %>
      <%= button_tag type:"submit", class: "btn btn-outline-success" do %>
        <i class="bi bi-search"></i>
      <% end %>
    </div>
  <% end %>
</div>

<%# 画像スライド %>
<div id="carouselExampleFade" class="carousel slide carousel-fade">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="<%= asset_path 'image1.jpg' %>" class="d-block w-100 small-height" alt="...">
    </div>
    <div class="carousel-item">
      <img src="<%= asset_path 'image2.jpg' %>" class="d-block w-100 small-height" alt="...">
    </div>
    <div class="carousel-item">
      <img src="<%= asset_path 'image3.jpg' %>" class="d-block w-100 small-height" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br><br>
<h2>~新着レシピ~</h2>
<br>
<div style="display: flex; flex-direction: row-reverse; overflow-x: auto;">
  <% @recipes.each do |recipe| %>
    <div class="recipe-scroller" style="min-width: 300px; margin-right: 5px;">
      <p><%= recipe.title %></p>
        <%= link_to recipe_path(recipe) do %>
          <%= image_tag (recipe.recipe_image.attached? ? recipe.recipe_image : "no-image2.png"), style: 'height: 200px; width: 200px; object-fit: cover;' %>
        <% end %>
    </div>
  <% end %>
</div>
</div>
<br><br><br>

<h2>~ダイエット豆知識~</h2>
<br>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <%= image_tag("water.jpg", class: "card-img-top", alt: "...") %>
      <div class="card-body">
        <h5 class="card-title">1日の水分摂取量</h5>
        <p class="card-text">
          お水の摂取源は食物からが約20〜30％、残りの70〜80％を飲み物から摂っていると言われています。<br>計算式で水分摂取量を割り出すことができるので、自分の水分摂取量を把握しましょう。<br>【計算式】体重(kg)×年齢別必要量(ml)＝必要水分量<br>【年齢別必要量】
22～55歳：35ml   55～65歳：30ml   65歳以上：25ml</p>
      </div>
      <div class="card-footer">
        ※あくまで目安です。食事や運動量で変化しますので注意。<br>※お茶やコーヒーではなく水を飲みましょう。
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <%= image_tag("body.jpg", class: "card-img-top", alt: "...") %>
      <div class="card-body">
        <h5 class="card-title">リバウンドしないために</h5>
        <p class="card-text">「1ヶ月で減らすのは全体重の5％まで」が目安と言われています。<br>急激なダイエットによって1ヶ月で現体重の5％以上が減ると、ホメオスタシスによって「飢餓状態かもしれないから、体重がこれ以上減らないようにしよう」と代謝を抑制する作用が働きます。<br>計算式で一ヶ月に痩せてもリバウンドしない、体重を把握しましょう。<br>【計算方法】<br>現体重×0.05＝1ヶ月の減量体重の目安<br></p>
      </div>
      <div class="card-footer">
        ※ホメオスタシス＝どんな環境においても身体の生理機能が一定に保たれる働きのこと。
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <%= image_tag("walk.jpg", class: "card-img-top", alt: "...") %>
      <div class="card-body">
        <h5 class="card-title">運動も忘れずに</h5>
        <p class="card-text">ウォーキングやストレッチなど、毎日続けられる運動がおすすめです。<br>筋肉の材料となるタンパク質、代謝を維持するビタミンやミネラルをしっかり補給することも重要です。<br>【有酸素運動をする場合】<br>ダイエットや生活習慣病予防を目的として有酸素運動を毎日行う場合は、1日あたり20〜30分の時間を目安にしましょう。痩せるためにはエネルギー消費量を増やす必要がありますから、食事制限だけでなく運動も取り入れましょう。<br></p>
              </div>
      <div class="card-footer">
        ※有酸素運動を始めると、最初に糖が消費され、運動を開始してからおよそ20分後に体脂肪（皮下脂肪・内臓脂肪）の消費がスタートします。
      </div>
    </div>
  </div>
</div>

<%= link_to user_signed_in? ? new_recipe_path : new_user_registration_path, class: 'purchase-btn' do %>
  <span class='purchase-btn-text'>投稿する</span>
  <%= image_tag 'food.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
  </body>
  <br><br>