<!DOCTYPE html>
<html>
  <head>
    <title>Oriapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark py-3 sticky-top">
      <div class="container">
        <a class="navbar-brand" href="<%= root_path %>">
  <h2 class="pt-2 text-white">D recipe</h2>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="#home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#features">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#projects">projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#team">Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#blog">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>
          <%# ログイン状態によって画面の表示を切り替える %>
          <% if user_signed_in? %>
        <div class="user_nav grid-6">
         <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-light" %>
         </div>
         <% else %>
           <div class="grid-6">
         <%= link_to "ログイン", new_user_session_path, class: "btn btn-light" %>
         <%= link_to "新規登録", new_user_registration_path, class: "btn btn-light" %>
           </div>
         <% end %>
      </div>
    </nav>
    <%= yield %>
        <footer>
      <div class="footer-top">
        <div class="container">
          <div class="row gy-4">
            <div class="col-md-4">
              <h4 class="text-white">D recipe</h4>
           </div>
           <div class="col-md-2">
             <h5 class="text-white">Brand</h5>
             <ul class="list-unstyled">
               <li><a href="#">About</a></li>
               <li><a href="#">Services</a></li>
               <li><a href="#">Features</a></li>
               <li><a href="#">Pricing</a></li>
             </ul>
             </div>
            <div class="col-md-2">
              <h5 class="text-white">More</h5>
              <ul class="list-unstyled">
               <li><a href="#">FAQ&'s</a></li>
               <li><a href="#">Privacy & Policy</a></li>
               <li><a href="#">Warrantry</a></li>
               <li><a href="#">Shipment</a></li>
              </ul>
           </div>
            <div class="col-md-4">
              <h5 class="text-white">Pages</h5>
              <ul class="list-unstyled">
               <li>Address: 2715 Ash Dr. San Jose, South Dakota 83475</li>
               <li>Email: shincode0712@gmail.com</li>
               <li>Phone: 111-222-333</li>
              </ul>
           </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
